* {
    /* colors */
    /* BLUE */
    --I-blue: #f0f0f0;
    --II-blue: #238ef9;
    --III-blue: #0066ff;
    --IIII-blue: #1868B7;
    /* WHITE */
    --white: #fff;
    --glass-color: rgba(255, 255, 255, 0.3);
    /* GREY */
    --grey: rgba(0, 0, 0, 0.2);
    --grey: #707A83;
    /*GRADIENTS*/
    --I-gradient: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    /* height */
    --nav-height: 3rem;
    --height-no-nav: calc(100vh - var(--nav-height));
    /* gap */
    --small-gap: 0.5rem;
    --big-gap: 2rem;
    /* rounded corner radius */
    --max-rounded: 100vw;
    --small-rounded: 0.5rem;
    --big-rounded: 1rem;
    --very-small-rounded: 0.1rem;
    transition: all 0.2s ease;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    background-color: var(--light-blue);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--I-blue);
}

nav {
    height: 100vh;
    font-size: 1.5rem;
    color: var(--III-blue)
}

nav .nav-functionalities {
    display: grid;
}

nav i {
    font-size: 2rem;
    filter: drop-shadow(0 0 1rem white);
}

nav .nav-functionalities>div {
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
    padding: 1rem;
    place-content: center;
}

nav .nav-functionalities>div:hover {
    background-color: var(--II-blue);
    color: white;
}

.nav-button {
    color: white;
    background-color: var(--II-blue);
    position: absolute;
    right: 0;
    transform: translateX(100%);
    bottom: 3rem;
    display: flex;
    padding: 1rem;
    border-radius: 0 10rem 10rem 0;
}

.nav-button i {
    font-size: 2rem;
}

nav.nav-close .nav-functionalities div span {
    font-size: 0;
}

nav.nav-close .nav-functionalities div i {
    transform: translatex(0.4rem);
}

.nav-button {
    opacity: 0.9;
    border: 2px solid transparent
}

.nav-button:hover {
    opacity: 1;
    border: 2px solid var(--III-blue);
    box-sizing: border-box;
}