* {
    /* colors */
    /* BLUE */
    --I-blue: #f0f0f0;
    --II-blue: #238ef9;
    --III-blue: #0066ff;
    --IIII-blue: #1868B7;
    /* WHITE */
    --white: #fff;
    --glass-color: rgba(255, 255, 255, 0.3);
    /* GREY */
    --grey: rgba(0, 0, 0, 0.2);
    --grey: #707A83;
    /*GRADIENTS*/
    --I-gradient: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    /* height */
    --nav-height: 3rem;
    --height-no-nav: calc(100vh - var(--nav-height));
    /* gap */
    --small-gap: 0.5rem;
    --big-gap: 2rem;
    /* rounded corner radius */
    --max-rounded: 100vw;
    --small-rounded: 0.5rem;
    --big-rounded: 1rem;
    --very-small-rounded: 0.1rem;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    background-color: var(--light-blue);
}

nav {
    height: var(--nav-height);
    background-color: var(--white);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    padding: 0 2vw;
    display: flex;
    align-items: center;
}

.logo {
    font-weight: 600;
}

main {}

.funzionalità-container {
    display: flex;
    /* 1vw is the padding in the container, so *2 is mean that there isn't a scroll */
    height: calc(var(--height-no-nav) - 1vw*2);
    padding: 1vw;
}

.funzionalità-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid var(--I-blue);
    box-shadow: inset 0 0 0 var(--II-blue);
}

.funzionalità-container div {
    box-sizing: margin-box;
    z-index: var(--card-index);
    transition-duration: 1s;
    min-width: 100px;
}

.funzionalità-container div:hover {
    flex: 2;
    color: var(--III-blue);
    background: var(--I-gradient);
    transition-duration: 0.2s;
    font-size: 3vw;
    font-weight: 600;
    border: none;
    border-radius: var(--small-rounded);
    text-decoration: underline;
    box-shadow: inset 0 0.3rem 0 var(--II-blue);
    animation: underline 0.3s ease-in-out forwards;
    margin: 0 var(--small-gap);
}

@keyframes underline {
    from {
        text-underline-offset: 2vw;
    }
    to {
        text-underline-offset: 0.2rem;
    }
}